@import url('https://fonts.googleapis.com/css2?family=Lato&family=Parisienne&family=Raleway&display=swap');


html, body {
  height: 100%;
  margin: 0;
}

.text_area {
    text-align: left;
}

.container{
    background-color: white;
    width:100%;
}

#check{
    text-align: center;
}

form{
    padding: 1em 1em 0 1em;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.form-group {
    
    width: 500px;
    display: inline-flex;
    margin: 1.5 em;
}

.form-group label{
    
   width: 50%;
}


#output {
    display: none;
}

.button {
  background-color: darkmagenta; 
  border: 1 px solid black;
  color: white;
  margin: 15px 0 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button a {
    
    color: white;
    text-decoration: none;
  
}
.button:hover {
    
    color: darkblue;
    background-color: coral;
  
}

.planner .button a:hover{
color: darkblue;
}