@import url('https://fonts.googleapis.com/css2?family=Lato&family=Parisienne&family=Raleway&display=swap');

.planner{
	background-color:white;
	max-width:100%;
	padding-bottom:5em;
	padding-top:2em;
	/*margin:0 auto;*/
	color: black; 
	
}

.planner h1, h2{
	text-align:center;
	font-family:'Parisienne','Lato', 'Raleway',sans-serif, cursive;
	font-size:3em;
	font-weight:bold;
}

.faq-content {
    display: none;
}

