/* @import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Noto+Sans:wght@400;700&family=Roboto&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Parisienne&family=Raleway&display=swap');

/********Planner*/
.planner,.testimonials{
	background-color:white;
	max-width:100%;
	padding-bottom:5em;
	padding-top:2em;
	/*margin:0 auto;*/
	color: black; 
	
}

.planner h1,.testimonials h1{
	text-align:center;
	font-family:'Parisienne','Lato', 'Raleway',sans-serif, cursive;
	font-size:3em;
	font-weight:bold;
}

.planner label,.testimonials label{
	margin-top:0.5em;
	font-size:1.2em;
	
	/* color: white; */
}
.planner #submit,.testimonials #send, .testimonials #submit{
	margin-top:1em;
	width:150px;
}
.planner legend{
	margin-top:1em;
	margin-bottom:0;
	
}


.testimonials article{
	padding-bottom:1.5em;
	/* margin-left:0.05em; */
	background-color:white;
	color : black;
	/* margin-left:0; */
	margin-right:0.15em;
	text-align:justify;
}
.testimonials h4, .testimonials h5 {
	text-align:center;
}
.testimonial  img{
	margin-left:47%;
	max-width:100%;
}
